body {
     overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header1 {
    background-image: url('../Images/auto.jpg');
    background-repeat: none;
   
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    height: 680px;
}

 .form-registration{
        
        font-family: "Open Sans";
        font-size: 20px;
        background-color:white;
      
       

    }
 .logo-registration {
     text-align:center;
 }

 .radiobtn{

        margin-bottom: 20px;
        margin-left: 30%;

    }       

    .registerbnt{

        margin-top:50px;
        margin:auto;

    }

    .navbar-default {
    background-color: #222;
    border-color: transparent;
}

    .navbar-default .navbar-brand {
        color: #18ba60;
        font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    }

        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
            color: #18ba60;
        }

    .navbar-default .navbar-collapse {
        border-color: rgba(255,255,255,.02);
    }

    .navbar-default .navbar-toggle {
        background-color: #18ba60;
        border-color: #18ba60;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #fff;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #18ba60;
        }

    .navbar-default .nav li a {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        color: #fff;
    }

        .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
            color: #18ba60;
            outline: 0;
        }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 0;
        color: #fff;
        background-color: #18ba60;
    }

        .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            color: #fff;
            background-color: #18ba60;
        }
    .mapslogo {

    margin-top: 100px;
    font-size: 45px;
    font-family:'Proxima Nova', bolt;
    line-height: 1.3;
    

}
    @media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
    }

    .text-about-right {
        font-size: 1.2em;
    }
        .navbar-default .navbar-brand {
            font-size: 2em;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }

        .navbar-default .navbar-nav > .active > a {
            border-radius: 3px;
        }

        .navbar-default.navbar-shrink {
            background-color: #222;
            padding: 10px 0;
        }

            .navbar-default.navbar-shrink .navbar-brand {
                font-size: 1.5em;
            }
}

    