@{
    ViewBag.Title = "Информация для пассажиров";
}
<h2>@ViewBag.Title.</h2>


<div class="container">
    <p style="color: red;"><strong>Для правильного бронирования по телефону вам необходимо сообщить оператору:</strong></p>
    <p>&nbsp;</p>
    <ul>
        <li><strong>Номер телефона</strong> и название сотового оператора (Велком, МТС), того человека, который собирается отправиться в поездку</li>
        <li><strong>Дату</strong> планируемой поездки</li>
        <li><strong>Направление</strong> поездки (Витебск-Минск или Минск-Витебск)</li>
        <li><strong>Время выезда</strong> (список доступных времен выезда доступен в разделе расписание)</li>
        <li>Требуемое <strong>количество мест</strong></li>
    </ul>
    <p>&nbsp;</p>
    <h3 style="text-align: center; color: red;"><strong>Правила поведения пассажиров в автобусе</strong><strong>&nbsp;</strong></h3>
    <p>&nbsp;</p>
    <ul>
        <li>Просьба бережно обращаться с оборудованием.</li>
        <li>Распитие спиртных напитков и курение в салоне строго запрещается.</li>
        <li>Не ходить по салону автобуса во время движения.</li>
        <li>Нельзя стоять в проходах во время движения.</li>
        <li>Категорически запрещается ставить сумки в проходах. В целях безопасности движения проход должен быть свободным.</li>
        <li>Запрещается отвлекать водителя во время движения.</li>
        <li>Мусор складывать в индивидуальные пакеты и выбрасывать в мусоросборник на стоянках.</li>
        <li>Полки над сидениями предназначены только для мелкой ручной клади.</li>
        <li>Пользоваться кипятком можно только с разрешения водителя во время остановки, во избежание несчастных случаев.</li>
        <li>Пассажир несет ответственность за ущерб, нанесенный транспортному средству!!!</li>
        <li>Пассажиры, нарушившие правила поведения в автобусе, высаживаются без компенсации стоимости проезда!</li>
        <li>С собой в салон автобуса из продуктов питания можно брать только воду и фрукты. Остальные продукты питания сдаются в багажное отделение.</li>
        <li>Места в билетах не фиксируются, поэтому при посадке в автобус, если нет особых указаний водителя, можно занимать любые места.</li>
        <li>Кресла в автобусе откидываются назад. Во время стоянок кресла необходимо вернуть в первоначальное положение.</li>
        <li>Автобус делает технические остановки каждые 4-5 часов. Продолжительность остановок объявляется водителем. По истечении этого времени автобус уезжает, а опоздавший пассажир догоняет автобус самостоятельно!!!</li>
        <li>Автобусы оснащены видео-аудио техникой, кондиционером, кофеваркой. При отсутствии возражений со стороны других пассажиров возможен просмотр видеозаписей.</li>
    </ul>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>