@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <title>Registration</title>
</head>

<body class="header1">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="logoRegistration">Регистрация</div>

    </nav>

    <div class="form-registration">

        <div class="radiobtn">
            Я -
            <input type="radio" /> Пассажир
            <input type="radio" /> Водитель
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6">
                Фамилия
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="col-xs-4 col-sm-6">
                Номер телефона
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                Имя
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="col-xs-4 col-sm-6">
                E-mail
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                Отчество
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="col-xs-4 col-sm-6">
                Пароль
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                Пол
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
            <div class="col-xs-4 col-sm-6">
                Подтвердите пароль
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            </div>
        </div>

        <a href="#home" class="page-scroll btn btn-xl registerbnt">Зарегистрироваться</a>
    </div>



</body>
</html>
